*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: sans-serif;
}


/*---COMMON---*/

.container{
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
}

/*---NAVBAR---*/

nav{
    background-color: #0084fd;
    
}

nav .inner-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 0 1.2rem 0;

    margin-bottom: 3rem;
}


nav .menu-extended{
    display: none;
}

nav .menu-icon{
    color: white;
    font-size: 1.5rem;
}


/*---MAIN---*/


main .card-special{
    background-color: #b5ddff;
    border-radius: 20px;
    margin-bottom: 1.5rem;
}

main .card-special .card-text{
    padding: 2.2rem;
}

main .card-special .card-text h2{
    color: #0083fc;
    margin-bottom: 2rem;
}

main .card-special .card-text p{
    color: #5c7082;
    font-weight: bold;
    line-height: 2rem;
    margin-bottom: 2rem;
}

main .card-special .card-text .btn-apple{
    color: white;
    background-color: #0084fd;
    border-color: transparent;
    border-radius: 30px;
    font-size: 1.1em;
    font-weight: bold;
    padding: 0.6rem 4rem 0.6rem 4rem;
}

main .card-special .card-text .btn-apple i{
    padding-right: 10px;
}

main .card-special .card-img img{
    display: flex;
    align-items: flex-end;
    width: 100%;

}

main .card{
    background-color: #b5ddff;
    border-radius: 20px;
    margin-bottom: 1.5rem;
}

main .card .card-text{
    padding: 2.2rem;
    text-align: center;
}

main .card .card-text i{
    color: #0083fc;
    font-size: 4.5em;
    margin-bottom: 2rem;
}

main .card .card-text h2{
    color: #0083fc;
    margin-bottom: 2rem;
}

main .card .card-text p{
    color: #5c7082;
    font-weight: bold;
    line-height: 2rem;
}